name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:        

  tests:
    name: Run Unit Tests
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.101
      - name: Run tests
        run: dotnet test

  publish:
    name: Publish NuGet
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      # Publish
      - name: Publish on version change
        id: publish_nuget
        uses: rohith/publish-nuget@v2
        with:
          PROJECT_FILE_PATH: NumeralSystemsConversion.Converter/NumeralSystemsConversion.Converter.csproj
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}
